{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab5</title>
</head>
<body>
    <div>
        <img src="{% static 'main/img/home.jpg' %}"/>
        <h1>5 Лабораторная работа</h1>
    </div>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                {{ form.file }}
            </p>
            <p><input type="submit" value="Загрузить"/></p>
        </form>
        <p>Результаты</p>
        <p>Вероятности: {{ ver }}</p>
        <p>Класс: {{ class }}</p>
    </div>
</body>
</html>